.bottomcard{
    height: 12vw;
    width: 12vw;
    background-color: white;
    border-radius: 1.5vw;
    box-Shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.8) ;
    flex: 0 0 auto;
    box-sizing: border-box;
    margin: 0.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5vw;
    
}

.bottomcard img{
    width: 5vw;
    height: 5vw;
}

.bottomcard-text1{
    font-size: 1.2vw;
    text-align: center;
    margin-top: 0;
}

.bottomcard-text2{
    font-size: 1vw;
    text-align: center;
    margin-top: 0;
    font-weight: 600;
    text-wrap: wrap;
}